{% extends 'core/base.html' %}
{% block title %}
 About Page   
{% endblock %}
{% block content %}
<div>
    <div class="text-3xl ">About</div>
    <p class="text-xl mt-6 "> Welcome to College Dukaan, the ultimate destination for students seeking convenience and value in buying and 
        selling goods within their college community! <br> platform offers a straightforward and cost-effective solution for purchasing 
        and offloading a variety of products, from textbooks and electronics to furniture and beyond. <br>Say goodbye to the hassle of 
        searching multiple platforms—everything you need is right here.<br> We're not just a marketplace; we're a community-driven initiative
        committed to fostering connections, supporting sustainability, and enriching student life. With safety and trust as our top priorities, 
        you can shop with confidence knowing you're dealing with verified peers.
        <br><br>Join us in creating a vibrant marketplace ecosystem that enhances the college experience for all.</p>
</div>
    {% endblock %}