{% extends 'core/base.html' %}
{% block title %}
 Privacy Policies   
{% endblock %}
{% block content %}
<div>
    <div class="text-3xl text-brown-100 font-semibold">Privacy Policies</div><br>
    <p class="text-xl ml-4"> 
        
        At College Dukaan, we prioritize the privacy and security of our users' information. This Privacy Policy outlines how we collect, use, and protect your data, particularly concerning our messaging feature.
        
        <strong><br>1. Information We Collect</strong><br>
        
        When you utilize our messaging feature to communicate with other users, we collect specific information to facilitate message exchanges and ensure a seamless user experience. This may encompass:
        
            User-to-User Communication: Messages shared between users, including text, images, and other media.
            User Profile Information: Basic details from your user profile essential for identifying you as the sender or recipient of messages.
        
        <strong><br>2. Use of Information</strong><br>
        
        The information gathered through our messaging feature is solely utilized to facilitate communication between users within our platform. We do not employ this information for marketing or promotional endeavors without your explicit consent.
        
        <strong><br>3. Protection of Information</strong><br>
        
        We implement appropriate measures to safeguard the confidentiality and integrity of the information transmitted through our messaging feature. This includes the utilization of encryption protocols and access controls to thwart unauthorized access or disclosure of your data.
        
        <strong><br>4. Third-Party Access</strong><br>
        
        We do not disclose your messages or any other personal information to third parties unless mandated by law or with your explicit consent. However, please be aware that although we undertake every precaution to secure our platform, no method of transmission over the internet or electronic storage is entirely immune to breaches.
        
        <strong><br>5. User Responsibilities</strong><br>
        
        While we strive to uphold the security of our messaging feature, users are accountable for the content of their messages and ensuring compliance with our Terms of Service. Kindly refrain from sharing sensitive personal information or engaging in inappropriate behavior via our messaging system.
        
        <strong><br>6. Changes to this Privacy Policy</strong><br>
        
        We retain the right to revise or amend this Privacy Policy at any time. Any alterations will be reflected on this page, and we encourage you to periodically review this policy for updates.
        
        By utilizing our messaging feature, you consent to the collection and use of your information as outlined in this Privacy Policy. Should you have any inquiries or concerns regarding our privacy practices, please don't hesitate to contact us at [contact@email.com].
        
        <br>Last updated: 23 May 2023</p>
</div>
    {% endblock %}